[submodule "skills/github"]
	path = skills/github
	url = https://github.com/LKCY23/claude-github-skill.git
[submodule "skills/research-brainstorm"]
	path = skills/research-brainstorm
	url = https://github.com/LKCY23/research-brainstorm.git
[submodule "skills/research-reading-skills"]
	path = skills/research-reading-skills
	url = https://github.com/LKCY23/research-reading-skills.git
